aside{

    background-color: var(--primary);

    padding: 1rem;

    color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;

    height: 100vh;

    width: 240px;
}

aside ul{
    list-style-type: none;
}

aside nav{

    background-color: var(--text);
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2vh;
}

aside a{
    color: var(--background);
    text-decoration: none;
}

aside a:hover, .btn-x:hover{
    text-decoration: underline;
}

.btn-x-div{
    margin-bottom: 1rem;
    text-align: right;
}

.btn-x{
    text-align: right;

    color: var(--background);
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 1rem;
}