aside{

    background-color: var(--primary);
    position: fixed;
    left: 0;

    padding: 1rem;

    color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;

    height: 100%;
}

aside ul{
    list-style-type: none;
}

aside nav{

    background-color: var(--text);
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2vh;
}

aside a{
    color: var(--background);
    text-decoration: none;
}

