/*
    Esse arquivo .css, está guardando algumas configurações básicas,
    como a palheta de cores que pode ser facilmente modificada,
    e as configurações de borda e padding
*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {

    --text: #124170;
    --background: #e9ecf1;
    --primary: #26667F;
    --secondary: #67bac0;
}

.padding2{
    padding: 2vh 2vw;
}

.padding1, .banners article{
    padding: 1vh 1vw;
}
