*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    
}

.html-basics{
    background-color: var(--background);
    color: var(--text); 
    font-size: large;
}

:root {
    --text: #124170;
    --background: #e9ecf1;
    --primary: #26667F;
    --secondary: #67bac0;
}

.padding2{
    padding: 2vh 2vw;
}

.padding1, .banners article{
    padding: 1vh 1vw;
}

.margin1{
    margin: 1vh 0px;
}

.corpo-padrao{
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}   

.cabecalho-iframe{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 87.5vw;
    overflow: hidden;
    border: none;
}

.aside-iframe{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 12.5vw;
    overflow: hidden;
    border: none;

}

button, a{
    cursor: pointer;
}