body{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

aside{
    background-color: var(--primary);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5vw;
}

main{
    margin-left: 12.5vw;
}

header{
    background-color: var(--secondary);
    width: 87.5vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 9fr 1fr;

    align-items: center;
}

form{
    width: 50%;
    justify-self: center;
}

#pesquisa{
    padding: 10px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    
}

#login{
    justify-self: center;
    color: var(--primary);
    font-size: larger;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--background);
}

#login:hover{
    font-weight: bold;
}