.container-principal{
    display: flex;
}

#aside{
    position: fixed;
    left: 0;
}

#footer{
    position: fixed;
    bottom: 0;
}

main{
    margin-left: 260px;
    margin-right: 20px;
    text-align: center;

    flex: 1;
    justify-items: center;
}

h1{
    margin: 1rem 0;
}

.carrocel{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrocel-jogos{
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    flex: 1;

    margin: 0 2rem;
}

.jogo-maior{
    grid-row: 1 / 3;
}

.jogos{
    background-color: blue;
}

.btn-carrocel{

    color: white;
    background-color: black;
    font-size: 2rem;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    font-weight: bolder;

}

.btn-carrocel:hover{
    text-decoration: underline;
}

@media (max-width: 770px){

    main{
       margin-left: 20px; 
    }

    #aside{
        display: none;
    }
}