body{

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-auto-rows: min-content;

    grid-template-areas: "header header" "aside main";

}

#cabecalho{
    grid-area: header;
}

#aside{
    grid-area: aside;
}


main{
    grid-area: main;
}