*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    text-align: center;
}

.principal {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 100px 1fr 80px; /* header - conteúdo - footer */
    grid-template-areas: "header header" "aside section" "footer footer";
    height: 100vh;
    width: 100vw;
}

.foto {

    justify-content: center;
    width: 500px;
    height: auto;
    padding: 20px;

}

.fonte {

    font-size: 25px;
    font-family: Arial;
    color:white;
}

section a{
    color: white;
}

section a:hover {
  color: gray;
  
} 

.categorias {

    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(1, 60, 96, 1);
    width: 85%;
    margin: 0 auto;
    display: grid;
}

.nozes {

    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(1, 60, 96, 1);
    width: 85%;
    margin: 0 auto;
    display: grid;
    margin-top: 80px;
}


.gith {

    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(1, 60, 96, 1);
    width: 85%;
    margin: 0 auto;
    display: grid;
    margin-top: 80px;
}

.logo {

    background-color: rgba(1, 60, 96, 1);
    color: white;
    font-size: 35px;
    border: 2px solid black;
    border-radius: 15px;
    width: 15%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    margin-right: 10px;

    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    align-items: center
}

section button {

    background-color: rgba(10, 98, 250, 1);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    width: 4%;
    height: 60%;
    margin: 0 auto;
    display: flex;

    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    align-items: center;
}




.barra_pesquisa {

    background-color: whitesmoke;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    width: 40%;
    height: 30%;
    margin: 0 auto;
    display: flex;

    position: absolute;
    left: 37%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pessoal{

    background-color: rgba(10, 98, 250, 1);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    width: 2%;
    height: 60%;
    margin: 0 auto;
    display: flex;

    position: absolute;
    left: 97%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divzona {

    display: flex;
    flex-direction: column;      
    align-items: flex-start; 
   
    grid-auto-rows: 150px;                 
    gap: 20px;                             

    max-width: 1000px;

    /*
    width: 1000px;
    height: 900px;
    */

    background: white;
    padding: 20px;

}

.nome {
    
    font-family: helvetica;
    text-align: center;
    font-size: 80px;
    color:black;
    margin: 0;
}

.icones{

    display: flex;              
    gap: 15px;                   
    justify-content: flex-start; 
    align-items: center;
}

.descricao{

    text-align: left;
    font-size: 50px;
    color:aliceblue;
    background-color: rgba(51, 77, 43, 1);
}

.div_p_todes {

    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.todes_unit {

    background-color: rgba(217, 217, 217, 1);
    display: grid;
    
    max-width: 450px;
    height: 400px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

.fotinha {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.linhaunica {

    grid-column: 1 / span 2;
}

.fonteasdivsp{

    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: arial;

}

#azedu.hidden {
    transform: translateX(-100%);
}
/*
header {

    grid-area: header;
    background-color: rgba(207, 226, 231, 1);

    position: fixed;
    top: 0;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 140px;

    padding: 0 40px;            
}

*/

section {

    grid-area: section;
    place-items: center;

    display: flex;
    flex-direction: column;
    
}

/*
aside {

    height: 100%;
    grid-area: aside;
    background-color:rgba(38, 102, 127, 1);
    
    flex-direction: column;
    display: flex;              
    justify-content: center;    
    align-items: center;
}
*/
footer {

    grid-area: footer;
    background-color: rgba(207, 226, 231, 1);
    display: flex;
    align-items: center;       
    justify-content: center;   
    height: 80px; 
    width: 100vw;             
    padding: 0 20px;           
}

@media(max-width: 500px) {

    /*
    .principal {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 140px auto 80px; 
        grid-template-areas: "header" "section" "footer";
        min-height: 100vh;
        width: 100vw;
    }

    aside {
       
        position: fixed; 
        z-index: 100;    
        top: 140px;      
        bottom: 80px;    
        left: 0;
        width: 240px;
        
        justify-content: flex-start;
        align-items: center;

        background-color:rgba(38, 102, 127, 1);
        
        transition: transform 0.3s ease;
        transform: translateX(0); 
       
        overflow-y: auto; 
    }
    */
    
    .hidden {
        transform: translateX(-100%);
    }

    
    section {
        grid-area: section;
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        /*width: 100%;*/
        margin: 0 18px 18px 18px;
    }

  
    .duas_colunas {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 90%; 
        max-width: 450px; 
        gap: 20px;
        margin: 20px;
    }

    
    .posicao{
        width: 100%;
        text-align: center; 
    }
    
    .foto {
        width: 150px; 
        height: auto;
        padding: 0; 
    }

    
    .divzona {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%; 
        height: auto; 
        padding: 0; 
    }

    
    .nome {
        font-size: 30px; 
        text-align: center;
        width: 100%;
        white-space: normal; 
    }

    .div_p_todes {
    
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        
    
        width: 90%; 
        max-width: 400px; 
        
        justify-content: center;
        justify-items: center; 
        padding: 0; 
        margin: 18px;
    }

    .fonte {

        font-size: 15px;
        font-family: Arial;
        color:white;
    }

    .todes_unit {
        
        width: 100%; 
        height: auto; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .icones{
        display: flex;
        gap: 5px; 
        justify-content: center; 
        flex-wrap: wrap;
        width: 100%;
    }
    .icones i {
        font-size: 30px !important; 
    }

    .descricao{
        text-align: center;
        font-size: 18px; 
        padding: 10px;
        width: 100%;
    }
    

    .logo {
        width: 25%;
        left: 19%;
        font-size: 20px;
    }
    section button { 
        width: 15%;
        left: 3%;
    }
    .barra_pesquisa {
        width: 45%;
        left: 45%;
    }
    
    .categorias {

        border: 2px solid black;
        border-radius: 15px;
        background-color: rgba(1, 60, 96, 1);
        width: 85%;
        margin: 0 auto;
        display: grid;
        margin-top: 20px;
        
    }
    
    .nozes {
    
        border: 2px solid black;
        border-radius: 15px;
        background-color: rgba(1, 60, 96, 1);
        width: 85%;
        margin: 0 auto;
        display: grid;
        margin-top: 20px;
        
    }
    
    
    .gith {
    
        border: 2px solid black;
        border-radius: 15px;
        background-color: rgba(1, 60, 96, 1);
        width: 85%;
        margin: 0 auto;
        display: grid;
        margin-top: 20px;
        
    }
}

/* Adições do Dengue*/

header{
    position: fixed;
    top: 0;
    left: 0;
}

aside{
    position: fixed;
    left: 0;
}

section{
    margin-top: 100px;
}