@media(max-width: 576px){

    body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    }


/*HEADER*/
/*
header{
    background-color: #CFE2E7;
    text-align: center;
    height: 38px;
    font-size: xx-large;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.menu_header{
    background-color: #0A62FA;
    border-radius: 5px;
    margin-right: 20px;
}

header input{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    width: 50%;
}

header button{
    border-radius: 5px;
}
button:hover{
    background-color: darkgray;
}

.menu_header{
    background-color: #0A62FA;
    border-radius: 5px;
    margin-right: 20px;
}
*/
/*FIM HEADER*/
main{
    margin: 20px;
    flex: 1;
    border-radius: 10px;
}

/*FOOTER*/
footer{
    background-color:#CFE2E7;
    /*
    border-radius: 5px;
    height: 29px;
    */
}
/*
footer h2{
    text-align: center;
    font-size: small;
    margin-top: 15px;
}
*/
/*FIM DO FOOTER*/
.barra_busca{
    width: 75%;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: medium;
}

.games_exis2{
    background-color: #CFE2E7;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
main img{
    width: 10%;
    margin-left: 5%;
    margin-bottom: 2%;
}
main h2{
    padding: 10px;
}
}

/*ADIÇÕES DO DENGUE*/

footer{
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0;
}

aside{
    position: fixed;
    left: 0;
    top: 100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}