body{
    display: grid;
    grid-template-columns: 1fr;
}

.corpo{
    display: flex;
}

img{
    max-width: fit-content;
    max-height: fit-content;
}

.page{
    display:grid;
    grid-template-columns: 3fr 300px;
    width: 100%;
    gap: 3vw 3vh;
    padding: 2vw;
}

.game{
    display: grid;
}

.img-game{
    
    height: 100%;
    width: auto;
}

.side-game{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1vh;
}

.description{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1vh;
}

.capa-game{
    display: flex;
    height: auto;
    width: 100%;
}

.coment{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.coment-head{
   display: flex;
    align-items: center;
}
.user-picture{
    display: flex;
    height: 25px;
    width: auto;
}


@media (max-width: 768px){
    body {
        grid-template-columns: 1fr; 
    }


    .page {
        grid-template-columns: 1fr; 
          padding: 3vh 2vw; 
        gap: 2vh; 
    }
    
    .game{
        display: flex;
        flex-direction: column;
    }

    .description {
        font-size: 1em; 
    }

    .capa-game{
        height: 30%;
    }

    .side-game{
        display: flex;
        
    }
}