body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


header{
    text-align: left;
    background-color: azure;
    font-size: larger;
    height: 75px;
}

main{
    margin: 20px;
    flex: 1;
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: azure;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.caixa_busca{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.barra_busca{
    width: 75%;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: medium;
}

.games_exis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.games_exis2{
    background-color: azure;
    width: 100%;
}